.home{ 
    
    .home-image{
        width:100%;
        mask-image:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0 ));
        margin-bottom: -200px;
        z-index: -1;
    }
    .product-row{
        display: flex;
        z-index: 5;
       margin: 0 5px;
     
    
     
    }
}